################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/WpfPratice/TestProject1/obj
/WpfPratice/Var6/obj
/WpfPratice/WPFApplication/obj
/WpfPratice/WpfPratice/obj
/WpfPratice/WPF_Graident/obj
/WpfPratice/WPF_Var1/obj/Release
/WpfPratice/_8Ball/obj/Release
/WPF_Containers
/WPF_Controls
/WPF_Windows
/WpfPratice/EventsInMarkup/obj
/CreateAutorize/CreateAutorize/obj
